body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Alatsi', sans-serif;
    background: #ddd url(../images/bg.png) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    
}


/* Responsive Typography */


html{
    font-size: calc(26px + 0.5vw);
    line-height: calc(1.1em + 0.4vw);
}


h1{
    font-size: calc(20px + 1.5vw);
}

h2{
    font-size: 1.2em;
}

h1,h2{
    font-weight: bold;
}

h1, h2, p{
    margin: .5em 1vh;
}





.container{
    width: 90%; /* ? WİDTH */
    max-width: 1024px;
    min-width: 300px;
    margin: 0 auto;
    position: relative;
}

.container .box{
    height: 50vh; /* ? HEİGHT */
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 25vh;
    color: #fff;
    background-image: linear-gradient(-225deg, #AC32E4 0%, #7918F2 48%, #4801FF 100%);
    border: 8px dashed #f09819;
    outline: 6px dashed #c43a30;
    border-radius: 10px;
}


.container .box .box-left, .box-right{
    width: 100%;
    height: 100%;
}

.container .box .box-left img{
    width: 100%;
    height: 100%;  
    border-radius: 10px;  
}

.container .box #hashtag{
    background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
    font-weight: bold;
    opacity: 0.7;
}



.socials a img{
    width: 90px;
    height: 90px;
    transition: transform 1s, .5s ease-out;
}


.socials a img:hover{
    transform: scale(1.2) rotate(5deg);
}

.socials {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
    top: 75vh;
}




@media (min-width:300px){
    html{
        font-size: calc(11.5px + 0.5vw);
    }

    .socials a img{
        width: 45px;
        height: 45px;
    }

    .container .box{
        height: 40vh; /* ? HEİGHT */
    }
}



@media (min-width:350px){
    html{
        font-size: calc(13px + 0.5vw);
    }

    .socials a img{
        width: 55px;
        height: 55px;
    }

    .container .box{
        height: 40vh; /* ? HEİGHT */
    }
}


@media (min-width:375px){
    html{
        font-size: calc(13px + 0.5vw);
    }

    .socials a img{
        width: 55px;
        height: 55px;
    }

    .container .box{
        height: 37vh; /* ? HEİGHT */
    }
}

@media only screen and (min-width: 400px) {
    html{
        font-size: calc(14px + 0.5vw);
    }

    .socials a img{
        width: 60px;
        height: 60px;
    }

    .container .box{
        height: 38vh; /* ? HEİGHT */
    }
    
}

@media only screen and (min-width: 600px) {
    html{
        font-size: calc(22px + 0.5vw);
    }

    .socials a img{
        width: 85px;
        height: 85px;
    }
    .container .box{
        height: 45vh; /* ? HEİGHT */
    }
}

@media only screen and (min-width: 768px) {
    html{
        font-size: calc(26px + 0.5vw);
    }

    .socials a img{
        width: 90px;
        height: 90px;
    }
    .container .box{
        height: 45vh; /* ? HEİGHT */
    }

}

@media only screen and (min-width: 992px) {
    html{
        font-size: calc(24px + .5vw);
    }

    .socials a img{
        width: 120px;
        height: 120px;
    }
    .container .box{
        height: 45vh; /* ? HEİGHT */
    }

}



@media only screen and (min-width: 1200px) {
    html{
        font-size: calc(25px + .5vw);
        line-height: calc(1.1em + 0.4vw);
    }

    .socials a img{
        width: 120px;
        height: 120px;
    }
    .container .box{
        height: 45vh; /* ? HEİGHT */
    }
}

