@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

/* 👋 HELLO 👋 */

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

a {
   text-decoration: none;
   color: inherit;
}

body {
   width: 100%;
   height: 100vh;
   background-color: #273c75;
   font-family: 'Didact Gothic', sans-serif;
   line-height: 1.7;
   letter-spacing: 0.15rem;
}

.container {
   width: 1140px;
   height: 100%;
   margin: 0 auto;
   padding: 0 1rem;
   min-width: 320px;
   display: flex;
   justify-content: center;
   align-items: flex-start;
}

.bio {
   width: 960px;
   display: flex;
   justify-content: center;
   align-items: center;
   color: #f2f2f2;
   font-size: 1.2rem;
}

.bio .bio__box .emoji {
   font-size: 2.5rem;
   margin: 1rem 0;
}

.bio .bio__box .name {
   border-bottom: 1px solid #58c9b9;
   transition: all 0.2s;
}

.bio .bio__box .name:hover {
   border-bottom: 2px dashed #58c9b9;
   cursor: pointer;
}

.list {
   margin: 1rem 0;
   list-style-type: none;
}

.hastag--list li{
   display: inline-block;
   color: #c9d6de;
   position: relative;
   cursor: pointer;
   margin-right: .5rem;
   transition: all 0.25s ease;
}

.hastag--list li:hover{
   color: #fff;
   font-weight: 800;
}

.hastag--list li::after{
   content: "";
   position: absolute;
   top: 1.5rem;
   left: 0;
   width: 25%;
   height: .3rem;
   background-color: #e97f02;
   transition: all 0.25s ease;
}

.hastag--list li:hover::after{
   width: 100%;
}


.social--list li a{
   display: inline-block;
   cursor: pointer;
   font-size: 1.3rem;

   background-image: linear-gradient(#58c9b9, #58c9b8);
   background-repeat: no-repeat;
   background-size: 100% 0.45rem;
   background-position: 0 85%;
   transition: all 0.25s ease;
}

.social--list li a:hover{
   background-size: 100% 1.75rem;
}


/* Mobile */

@media only screen and (min-width: 320px) and (max-width: 1280px) {
   .container {
      width: 100%;
   }
}
