@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

/* 👋 HELLO 👋 */

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

a {
   text-decoration: none;
   color: inherit;
}

body {
   font-family: 'Didact Gothic', sans-serif;
   background-color: #273c75;
   line-height: 1.7;
   letter-spacing: 0.1rem;
   min-width: 320px;
   width: 100vw;
   height: 100vh;
   overflow: hidden;
   background: linear-gradient(224deg, #6315e8, #3d0a94);
   background-size: 400% 400%;

   -webkit-animation: Animation 12s ease infinite;
   -moz-animation: Animation 12s ease infinite;
   animation: Animation 12s ease infinite;
}


@keyframes Animation {
   0% {
      background-position: 96% 0%;
   }
   50% {
      background-position: 5% 100%;
   }
   100% {
      background-position: 96% 0%;
   }
}

.container {
   width: 1140px;
   margin: 2rem auto;
   padding: 0 0.8rem;
   display: flex;
   justify-content: center;
   align-items: center;
}

.content {
   display: flex;
   justify-content: center;
   flex-direction: column;
   flex-wrap: wrap;
   color: #f2f2f2;
   font-size: 1.2rem;
}

span.emoji {
   font-size: 1.8rem;
}

.content p {
   margin: 0.5rem 0;
   font-weight: 600;
}

.list {
   margin: 1rem 0;
   list-style-type: none;
}

.hastag--list li {
   display: inline-block;
   color: #c9d6de;
   position: relative;
   margin-right: 0.4rem;
   cursor: default;
}

.hastag--list li:hover {
   transition: all 0.25s ease-out;
   color: #fff;
   font-weight: 700;
}

.hastag--list li::after {
   content: '';
   position: absolute;
   top: 1.75rem;
   left: 0;
   width: 25%;
   height: 0.3rem;
   background-color: #e97f02;
}

.hastag--list li:hover::after {
   transition: all 0.25s ease-out;
   width: 100%;
}

.social--list li a {
   display: inline-block;
   font-size: 1.1rem;

   background-image: linear-gradient(#e97f04, #e97f02);
   background-repeat: no-repeat;
   background-size: 100% 0.45rem;
   background-position: 0 85%;
}

.social--list li a:hover {
   transition: all 0.25s ease;
   background-size: 100% 1.75rem;
   font-weight: 700;
}

/* Mobile */

@media only screen and (max-width: 768px) {
   .container {
      width: 100%;
      margin: 0 auto;
   }
}
